{% extends 'Partials/_Base.html' %}
{% load bootstrap4 %}
{% load static %}


 <link rel="stylesheet" type="text/css" href="{% static 'assets/' %}">
{% block section_contenido %}

<div class="admin-panels ui-sortable animated fadeIn">
{% csrf_token %}

<form id="form_aptitudes">


  <div class="container">
        <center>¡Registra tu aptitud!</center>
        <hr>
    <div class="row">

      <div class="col-md-8">
        <label for="exampleFormControlSelect1" class="col-5 col-form-label">Área</label>
        <div class="col-7-md">
          <select class="select2_demo_1 form-control"id="area_select">
            <option value=""></option>
            {% for i in Areas %}
            <option value="{{i.pk}}">{{i.Nombre}}</option>

            {% endfor %}

          </select>
        </div>
    </div>


      <div class="col-md-8">
        <label for="exampleFormControlSelect1" class="col-5 col-form-label">Aptitud </label>
        <div class="col-7  ">
            <select  class="form-control" id="aptitud_select">
          </select>
        </div>
      </div>
    <!-- check buttons -->

{#         <a href="{% url 'visualizar_perfil' request.user.pk %}" >#}
        <div class="form-row text-center">
            <div id="declarar_boton"class="col-12">
            </div>
         </div>
{#<button style="text-align: center;margin:2%;" class=" col-md-11 btn btn-primary" onclick="{% url 'visualizar_perfil' request.user.pk %}">Continue</button>#}
{#        <button style="text-align: center;margin:2%;" type="submit" class=" col-md-11 btn btn-primary">Validar esta aptitud</button>#}


</form>
</div>

{% endblock %}
{% block scripts %}
<script>

$( document ).ready(function() {
// alert({{user.pk}});

$("#area_select").change(function() {
    var pk_select = $(this).val();
    {#alerta = {{ Aptitudes|safe }};#}
    {#widget.init(alerta);#}
    {#alert(alerta);#}
    {#alert("JOLA");#}
    //alert(pk_select);

    $("#aptitud_select").html("<option>Seleccione la aptitud</option>{% for i in Aptitudes %}    <option class='{{i.Area.pk}}' id='{{i.Area.pk}}'  value='{{i.pk}}'>{{ i.Nombre }}</option> {% endfor %}");

    var i;
for (i = 1; i < 10; i++) {
    //si tiene q no se borre
  if( $("#"+i).hasClass(pk_select)){

  }else{
      $("."+i).remove();
  }
}
$("#aptitud_select").change(function() {
    var pk_aptitud = $(this).val();
    var url = "{% url 'validar_aptitud' 987654 %}".replace(/987654/, pk_aptitud);
    $("#declarar_boton").html("<a href="+url+" class='btn btn-primary'>Validar aptitud</a>");
});
//FIN CHANGE
setCookie("pk_aptitud",String(pk_select),30)});
// FORM
    $('#form_aptitudes').submit(function(){
        alert("SUBMIT");
    //AJAX
      {#  $.ajax({#}
      {#  url: "",#}
      {#  type: "POST",#}
      {#  data: {#}
      {#      "pk_aptitud" : getCookie("pk_aptitud"),#}
      {#      csrfmiddlewaretoken: "{{ csrf_token }}",#}
      {#  },#}
      {#  success: function(data) {#}
      {#      console.log(data);#}
      {##}
      {#      window.location.href = "{% url 'validar_aptitud' 987654 %}";#}
      {##}
      {#  },#}
      {#});#}
    // FIN AJAX
    return false;

    });
//FIN PRINCIPAL
});

// console.log("{% csrf_token %}");
</script>

{% endblock %}
