{% extends 'Partials/_Base.html' %}
{% load bootstrap4 %}
{% load static %}


<link rel="stylesheet" type="text/css" href="{% static 'assets/' %}">
{% block section_contenido %}
Completa el siguiente cuestionario para validar tu aptitud!
    <hr>
    <center><p>Tiempo Restante</p></center>
<div id="progressBar">
  <div class="bar"></div>
</div>
<div id="quiz"></div>
<button class="btn btn-primary" id="submit">Terminar validación y ver resultados!</button>
<div id="results"></div>
{#          {% for i in preguntas %}#}
{#          <br>{{ i.pregunta }} A:{{ i.a }}B:{{ i.b }}C:{{ i.c }}D:{{ i.d }}#}
{#      {% endfor %}#}
{% endblock %}

{% block scripts %}
<script>
$( document ).ready(function() {
      {#  $.ajax({#}
      {#  url: "{% url 'validar_aptitud' %}",#}
      {#  type: "POST",#}
      {#  data: {#}
      {#      "pk_aptitud" : getCookie("pk_aptitud"),#}
      {#      csrfmiddlewaretoken: "{{ csrf_token }}",#}
      {#  },#}
      {#  success: function(data) {#}
      {#      alert(data);#}
      {##}
      {##}
      {#  },#}
      {#});#}
});
(function() {
  function buildQuiz() {
    // we'll need a place to store the HTML output
    const output = [];

    // for each question...
      var cont = 1;
    myQuestions.forEach((currentQuestion, questionNumber) => {
      // we'll want to store the list of answer choices
      const answers = [];

        // and for each available answer...
        for (letter in currentQuestion.answers) {
          // ...add an HTML radio button
        answers.push(
          `<label>
            <br> <input type="radio" name="question${questionNumber}" value="${letter}">
            ${letter} :
            ${currentQuestion.answers[letter]}
          </label><br>`
        );
      }

      // add this question and its answers to the output


      output.push(
        `<h3><div style ="font-weight: bold; " class="question">`+cont+` - ${currentQuestion.question} </div></h3>
        <div style="margin-left: 2%;"class="answers"> ${answers.join("")} </div><br>`
      );
      cont = cont+1;
    });

    // finally combine our output list into one string of HTML and put it on the page
    quizContainer.innerHTML = output.join("");
  }

  function showResults() {
    // gather answer containers from our quiz

    const answerContainers = quizContainer.querySelectorAll(".answers");

    // keep track of user's answers
    let numCorrect = 0;

    // for each question...
    myQuestions.forEach((currentQuestion, questionNumber) => {
      // find selected answer
      const answerContainer = answerContainers[questionNumber];
      const selector = `input[name=question${questionNumber}]:checked`;
      const userAnswer = (answerContainer.querySelector(selector) || {}).value;

      // if answer is correct
      if (userAnswer === currentQuestion.correctAnswer) {
        // add to the number of correct answers
        numCorrect++;

        // color the answers green
        answerContainers[questionNumber].style.color = "lightgreen";
      } else {
        // if answer is wrong or blank
        // color the answers red
        answerContainers[questionNumber].style.color = "red";
      }
    });

    // show number of correct answers out of total
    resultsContainer.innerHTML = `${numCorrect} out of ${myQuestions.length}`;
  }

  const quizContainer = document.getElementById("quiz");
  const resultsContainer = document.getElementById("results");
  const submitButton = document.getElementById("submit");
  const myQuestions = [
      {% for i in preguntas %}
          {
      question: "{{ i.pregunta }}",
      answers: {
        A: "{{ i.a }}",
        B: "{{ i.b }}",
        C: "{{ i.c }}",
        D: " {{ i.d }}"
      },
      correctAnswer: "{{ i.Respuesta_correcta }}"
    },
      {% endfor %}

  ];

  // display quiz right away
  buildQuiz();

  // on submit, show results
  submitButton.addEventListener("click", showResults);

})();
</script>
<script>
function progress(timeleft, timetotal, $element) {
    var progressBarWidth = timeleft * $element.width() / timetotal;
    $element.find('div').animate({ width: progressBarWidth }, 500).html(Math.floor(timeleft/60) + ":"+ timeleft%60);
    if(timeleft > 0) {
        setTimeout(function() {
            progress(timeleft - 1, timetotal, $element);
        }, 1000);
    }
};

progress(60, 60, $('#progressBar'));
</script>
<style>
#progressBar {
  width: 90%;
  margin: 10px auto;
  height: 22px;
  background-color: #0A5F44;
}

#progressBar div {
  height: 100%;
  text-align: right;
  padding: 0 10px;
  line-height: 22px; /* same as #progressBar height if we want text middle aligned */
  width: 0;
  background-color: #CBEA00;
  box-sizing: border-box;
}

/* Do not take in account */
html{padding-top:30px}a.solink{position:fixed;top:0;width:100%;text-align:center;background:#f3f5f6;color:#cfd6d9;border:1px solid #cfd6d9;line-height:30px;text-decoration:none;transition:all .3s;z-index:999}a.solink::first-letter{text-transform:capitalize}a.solink:hover{color:#428bca}
</style>
{% endblock %}
