{% extends 'Partials/_Base.html' %}
{% load bootstrap4 %}
{% load static %}


<link rel="stylesheet" type="text/css" href="{% static 'assets/' %}">
{% block section_contenido %}
Hola de nuevo, {{ request.user }}!

{{ i.imagen }}
{% endblock %}

{% block scripts %}
<script>
$( document ).ready(function() {
        $.ajax({
        url: "{% url 'validar_aptitud' %}",
        type: "POST",
        data: {
            "pk_aptitud" : getCookie("pk_aptitud"),
            csrfmiddlewaretoken: "{{ csrf_token }}",
        },
        success: function(data) {
            //alert(data);


        },
      });
});
</script>

{% endblock %}
