{% extends 'Partials/_Base.html' %}
{% load bootstrap4 %}
{% load static %}


<link rel="stylesheet" type="text/css" href="{% static 'assets/' %}">
{% block section_contenido %}
    <div class="container text-center">
    <h3>¡Completa el siguiente cuestionario para validar tu aptitud!</h3>
        Responde las preguntas a continuación para validar tu aptitud y que aparezca en tu perfil. Si se acaba el tiempo, se detendrá el cuestionario hasta donde hayas alcanzado a responder.
    <hr>
    <center><p style ="font-weight: bold; ">Tiempo restante</p></center>
<div class="w3-progress-container w3-round-xlarge"id="progressBar">
  <div class="w3-progressbar w3-round-xlarge progress-bar"></div>
</div>
        </div>

<style>
.w3-progress-container{width:100%;height:1.5em;position:relative;background-color:#f1f1f1}
.w3-progressbar{background-color:#757575;height:100%;position:absolute;line-height:inherit}
.w3-round-xlarge{border-radius:16px!important}
</style>
<div style="height: 400px;overflow: auto;" id="quiz"></div>
<div id="pre_results" class="form-row text-center">
    <div class="col-12">
        <button class="btn btn-primary" id="submit">Terminar validación y ver resultados!</button>
    </div>
 </div>

<div id="results"></div>
{#          {% for i in preguntas %}#}
{#          <br>{{ i.pregunta }} A:{{ i.a }}B:{{ i.b }}C:{{ i.c }}D:{{ i.d }}#}
{#      {% endfor %}#}
    <a style="display: none;" id="url_visualizar_button" href="{% url 'visualizar_perfil' request.user.pk %}" >

{% endblock %}

{% block scripts %}
<script>
$( document ).ready(function() {
      {#  $.ajax({#}
      {#  url: "{% url 'validar_aptitud' %}",#}
      {#  type: "POST",#}
      {#  data: {#}
      {#      "pk_aptitud" : getCookie("pk_aptitud"),#}
      {#      csrfmiddlewaretoken: "{{ csrf_token }}",#}
      {#  },#}
      {#  success: function(data) {#}
      {#      alert(data);#}
      {##}
      {##}
      {#  },#}
      {#});#}
});
(function() {
  function buildQuiz() {
    // we'll need a place to store the HTML output
    const output = [];

    // for each question...
      var cont = 1;
    myQuestions.forEach((currentQuestion, questionNumber) => {
      // we'll want to store the list of answer choices
      const answers = [];

        // and for each available answer...
        for (letter in currentQuestion.answers) {
          // ...add an HTML radio button
        answers.push(
          `<label>
            <br> <input type="radio" name="question${questionNumber}" value="${letter}">
            ${letter} :
            ${currentQuestion.answers[letter]}
          </label><br>`
        );
      }

      // add this question and its answers to the output


      output.push(
        `<h3><div style ="font-weight: bold; " class="question">`+cont+` - ${currentQuestion.question} </div></h3>
        <div style="margin-left: 2%;"class="answers"> ${answers.join("")} </div><br>`
      );
      cont = cont+1;
    });

    // finally combine our output list into one string of HTML and put it on the page
    quizContainer.innerHTML = output.join("");
  }
function url_visualizar_perfil(){
  document.getElementById("url_visualizar_button").click();

  }
function sleep(ms) {
  return new Promise(resolve => setTimeout(resolve, ms));
}

async function demo() {
  console.log('Taking a break...');
  await sleep(5000);
  console.log('Two seconds later, showing sleep in a loop...');

  // Sleep in loop
  for (let i = 0; i < 5; i++) {
    if (i === 3)
      await sleep(5000);
    console.log(i);
  }
}

  function showResults() {
    // gather answer containers from our quiz

    const answerContainers = quizContainer.querySelectorAll(".answers");

    // keep track of user's answers
    let numCorrect = 0;

    // for each question...
    myQuestions.forEach((currentQuestion, questionNumber) => {
      // find selected answer
      const answerContainer = answerContainers[questionNumber];
      const selector = `input[name=question${questionNumber}]:checked`;
      const userAnswer = (answerContainer.querySelector(selector) || {}).value;

      // if answer is correct
      if (userAnswer === currentQuestion.correctAnswer) {
        // add to the number of correct answers
        numCorrect++;

        // color the answers green
        answerContainers[questionNumber].style.color = "lightgreen";
      } else {
        // if answer is wrong or blank
        // color the answers red
        answerContainers[questionNumber].style.color = "red";
      }
    });

    // show number of correct answers out of total
    resultsContainer.innerHTML = `<div class="text-center"> {{ request.user }}, te informamos que obtuviste ${numCorrect} respuestas correctas de ${myQuestions.length}</div>`;

    if(numCorrect >= 3){

        $(pre_results).html("");
        resultsContainer.innerHTML = `<div class="text-center" style="margin-left: 2%; color: lightgreen;"> <h3>{{ request.user }},¡Aptitud validada! te informamos que obtuviste ${numCorrect} respuestas correctas de ${myQuestions.length}</h3></div>`;
        var pk_aptitud = {{ preguntas.0.pk }};
        var url_ajax = "{% url 'vincular_aptitud' 987654 request.user.pk %}".replace(/987654/, pk_aptitud);
        {#alert(url_ajax);#}
        $.ajax({
          type: 'GET',
          url: url_ajax ,
            data: {csrfmiddlewaretoken: "{{ csrf_token }}"},


        });

    }
    else {
        $(pre_results).html("");

        resultsContainer.innerHTML = `<div class="text-center" style="color:red;"><h3> {{ request.user }}, ¡Lástima! no se vinculará la aptitud, obtuviste ${numCorrect} respuestas correctas de ${myQuestions.length}</div></h3>`;

    }
    url_visualizar_perfil();
    {#alert(numCorrect);#}
  }

  const quizContainer = document.getElementById("quiz");
  const resultsContainer = document.getElementById("results");
  const submitButton = document.getElementById("submit");
  const myQuestions = [
      {% for i in preguntas %}
          {
      question: "{{ i.pregunta }}",
      answers: {
        a: "{{ i.a }}",
        b: "{{ i.b }}",
        c: "{{ i.c }}",
        d: " {{ i.d }}"
      },
      correctAnswer: "{{ i.Respuesta_correcta }}"
    },
      {% endfor %}
  ];
    console.log(myQuestions);

  // display quiz right away
  buildQuiz();

  // on submit, show results
  submitButton.addEventListener("click", showResults);

})();
{#progress bar para el tiempo#}
function progress(timeleft, timetotal, $element) {
    var progressBarWidth = timeleft * $element.width() / timetotal;
    $element.find('div').animate({ width: progressBarWidth }, 500).html(Math.floor(timeleft/60) + ":"+ timeleft%60);
    if(timeleft > 0) {
        setTimeout(function () {
            progress(timeleft - 1, timetotal, $element);
        }, 1000);
    }

    else{


        alert("Se acabó el tiempo");
        document.getElementById("url_visualizar_button").click();

    }

};

progress(60, 60, $('#progressBar'));
</script>
</script>


<style>
#progressBar {
  width: 90%;
  margin: 10px auto;
  height: 22px;
  background-color: #30363e;
}

#progressBar div {
  height: 100%;
  text-align: right;
  padding: 0 10px;
  line-height: 22px; /* same as #progressBar height if we want text middle aligned */
  width: 0;
  background-color: #4a89dc;
  box-sizing: border-box;
}

/* Do not take in account */
html{padding-top:30px}a.solink{position:fixed;top:0;width:100%;text-align:center;background:#f3f5f6;color:#cfd6d9;border:1px solid #cfd6d9;line-height:30px;text-decoration:none;transition:all .3s;z-index:999}a.solink::first-letter{text-transform:capitalize}a.solink:hover{color:#428bca}
</style>
{% endblock %}
